POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
CODER_HTTP_ADDRESS="0.0.0.0:7080"
CODER_ACCESS_URL="https://code.blackchaosnl.myaddr.dev"
CODER_PROXY_TRUSTED_HEADERS="X-Real-IP,X-Forwarded-For,X-Forwarded-Port,X-Forwarded-Proto"
CODER_PROXY_TRUSTED_ORIGINS=""
CODER_DISABLE_PASSWORD_AUTH=True
DOCKER_USER=""
CODER_OIDC_ISSUER_URL="https://authentik.company/application/o/<application_slug>/"
CODER_OIDC_EMAIL_DOMAIN="acme.company,acme-corp.company"
CODER_OIDC_CLIENT_ID="<Client ID from authentik>"
CODER_OIDC_CLIENT_SECRET="<Client Secret from authentik>"
CODER_OIDC_SCOPES="openid,profile,email,offline_access"
CODER_OIDC_SIGN_IN_TEXT="Log in with authentik"
CODER_OIDC_ICON_URL="https://authentik.company/static/dist/assets/icons/icon.svg"