ROMM_POSTGRESQL_DB=postgres
ROMM_POSTGRESQL_USER=postgres
ROMM_POSTGRESQL_PASSWORD=
ROMM_SECRET_KEY=
ROMM_DISABLE_LOCAL_LOGIN=true
ROMM_OIDC_ENABLED=true
ROMM_OIDC_AUTOLOGIN=true
ROMM_OIDC_PREVENT_LOCAL_LOGIN=true
ROMM_OIDC_CLIENT_ID=
ROMM_OIDC_CLIENT_SECRET=
ROMM_OIDC_CLIENT_URL=https://authz.blackchaosnl.myaddr.dev/application/o/romm
ROMM_OIDC_REDIRECT_URL=https://romm.blackchaosnl.myaddr.dev/api/oauth/openid
ROMM_OIDC_CLAIM_ROLES=groups
ROMM_OIDC_ROLE_USER=rommuser
ROMM_OIDC_ROLE_ADMIN=rommadmin
ROMM_BASE_URL=https://romm.blackchaosnl.myaddr.dev/