ROMM_POSTGRESQL_DB=
ROMM_POSTGRESQL_USER=
ROMM_POSTGRESQL_PASSWORD=
ROMM_SECRET_KEY=
ROMM_DISABLE_LOCAL_LOGIN=true
ROMM_OIDC_ENABLED=true
ROMM_OIDC_AUTOLOGIN=true
ROMM_OIDC_PREVENT_LOCAL_LOGIN=true
ROMM_OIDC_CLIENT_ID=
ROMM_OIDC_CLIENT_SECRET=
ROMM_OIDC_CLIENT_URL=https://authz.blackchaosnl.myaddr.dev/
ROMM_OIDC_REDIRECT_URL=https://romm.blackchaosnl.myaddr.dev/api/oauth/openid
ROMM_OIDC_CLAIM_ROLES=groups
OIDC_ROLE_ADMIN=rommadmin
ROMM_BASE_URL=https://romm.blackchaosnl.myaddr.dev/