# ---------------------------------------------------------------------------
# This template contains only required options.
# Visit the docs to find more https://docs.tandoor.dev/system/configuration/
# ---------------------------------------------------------------------------

# Setup OpenID
SOCIAL_PROVIDERS=allauth.socialaccount.providers.openid_connect
SOCIALACCOUNT_PROVIDERS='{"openid_connect":{"APPS":[{"provider_id":"myidp","name":"My Provider","client_id":"...","secret":"...","settings":{"server_url":"https://idp.example.com/.well-known/openid-configuration"}}]}}'
ALLAUTH_TRUSTED_PROXY_COUNT=2
SOCIALACCOUNT_ONLY=1 # Fully disable local auth, we have no need for local auth.
SOCIALACCOUNT_LOGIN_ON_GET=1
SOCIALACCOUNT_AUTO_SIGNUP=1
SOCIALACCOUNT_EMAIL_AUTHENTICATION=1
SOCIALACCOUNT_EMAIL_AUTHENTICATION_AUTO_CONNECT=1
ACCOUNT_EMAIL_VERIFICATION='none'

MEDIA_URL="<Your URL>/media/"

ENABLE_SIGNUP=0

# random secret key, use for example `base64 /dev/urandom | head -c50` to generate one
SECRET_KEY=
DEBUG=0

# allowed hosts (see documentation), should be set to your hostname(s) but might be * (default) for some proxies/providers
ALLOWED_HOSTS=*

# add only a database password if you want to run with the default postgres, otherwise change settings accordingly
DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=tandoor-postgres
POSTGRES_DB=djangodb
POSTGRES_PORT=5432
POSTGRES_USER=djangouser
POSTGRES_PASSWORD=